@import 'var';

body {
  margin:  $var20;
  padding: $var20;
  background-image: url("../images/ice-1997288__340.jpg");
  background-size: cover;
  font-family: 'Lacquer', sans-serif;
}
img {
  max-width: 380px;
}
button {
  min-width: 150px;
}
.row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.dormir, .laver, .manger, .sommeil, .faim, .hygiene {
  margin: $var20;
  background-color: indigo;
  color: #7abaff;
  font-size: 18px;
  font-weight: bold;
}

#myProgresssom, #myProgressfaim, #myProgresslav {
  width: 100%;
  background-color: grey;
}
#myBarsom, #myBarfaim, #myBarlav {
  width: 100%;
  height: 30px;
  background-color: #07F26C;
  text-align: center;
  line-height: 30px;
  color: white;
}

#snackbar, #snackbarsom, #snackbarlav {
  visibility: hidden;
  width: 70%;
  background-color: orange;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 10px;
  position: relative;
  z-index: 1;
  margin-top: -10px;
  left: 30%;
  font-size: 17px;
}

#snackbar1, #snackbar1som, #snackbar1lav {
  visibility: hidden;
  width: 70%;
  background-color: red;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 10px;
  position: relative;
  z-index: 1;
  margin-top: -10px;
  left: 30%;
  font-size: 17px;
}

#snackbar.show,  #snackbar1.show, #snackbarsom.show,  #snackbar1som.show, #snackbarlav.show,  #snackbar1lav.show{
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 10px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 10px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 10px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 10px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

#avatarlav, #avatarsom, #avatarfaim {
  float: left;
}


@keyframes animatfaim {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(0.55);
  }
}
.avatarfaim {
  animation: animatfaim 20s;
}


@keyframes animatsuper {
  0% {
    transform: rotateX(10deg);
  }
  100% {
    transform: rotateY(30deg);
  }
}
.avatarsuper {
  animation: animatsuper 20s;
}

.diction {
  align-self: center;
  color: #7abaff;
  font-size: 20px;
  font-family: 'Saira Stencil One', cursive;
}
.dictionSm {
  align-self: center;
  color: greenyellow;
  font-size: 16px;
  font-weight: bold;
  padding-left: 0 !important;
  margin-top: -80px;
}
.row2 {
  margin-top: 25px;
}
.commandes {
  margin-top: 100px;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}
.commandes1 {
  margin-top: 10px;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  color: greenyellow;
}
.ulList {
  padding-left: 0 ;
}
.input1 {
  max-width: 50%;
}